.card {
  max-width: 413px;
  position: relative;
}

.card__image {
  height: 413px;
  width: 413px;
  display: block;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 12px;
  cursor: pointer;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  max-width: 353px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 0;
  margin-top: 0;
}

.card__like-button {
  background-image: url(../images/spots-images/heart.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/spots-images/liked.svg);
  opacity: 1;
}

.card__like-button:hover {
  opacity: 1;
}

.card__like-button_active:hover {
  opacity: 40%;
}

.card__delete-button {
  background-image: url(../images/spots-images/State=Default.svg);
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;

  cursor: pointer;
}

.card__delete-button:hover {
  background-image: url(../images/spots-images/State=Hover.svg);
}

@media screen and (max-width: 630px) {
  .card__image {
    height: 288px;
    width: 288px;
  }

  .card__content {
    width: 288px;
  }

  .card__title {
    max-width: 235px;
    font-size: 16px;
    line-height: 100%;
  }
}
